<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>EDIT USER</title>
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  </head>

<body>
    <form action="/edit-user" method="post">
        <div class="form-group">
            <label for="email">Student Email:</label>
            <input type="text" id="email" name="email" value="<%= user.email %>" required>
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="<%= user.first_name %>" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="<%= user.last_name %>" required>
        </div>
        <div class="form-group">
            <label for="graduation_year">Graduation Year:</label>
            <input type="text" id="graduation_year" name="graduation_year" value="<%= user.graduation_year %>" required>
        </div>
        <div class="form-group">
            <label for="bio">Student Bio:</label>
            <textarea id="bio" name="bio" rows = "6" required><%= user.bio%></textarea>
        </div>
        <div class="form-group">
            <input type="hidden" name="user_id" value="<%= user.user_id %>" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>
    </form>
</body>