<html>
<head>
  <title>Andover Exhibition of Learning</title>
  <link rel="stylesheet" href="style.css"/>
  <script src="home.js"></script>
  <link rel="stylesheet" href="home.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sintony:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Libre+Caslon+Display&family=Prociono&family=Quicksand:wght@300..700&family=Sintony:wght@400;700&display=swap" rel="stylesheet">
  <style>
    .home {
      font-weight: bold;
    }
  </style>
</head>

<%- include('nav') %> 

<!-- TESTING ARRAY -->
<div>Years: <span id="years"></span></div>
<div>Skills: <span id="skills"></span></div>
<div>Courses: <span id="courses"></span></div>
<div>Course Levels: <span id="courseLevels"></span></div>
<div>Teachers: <span id="teachers"></span></div>
<div>Students: <span id="students"></span></div>

<body>

<div class="intro_section" id="intro_image">
  <div class="intro_content">
    <div class="welcome">
      <p class="welcome_text">
        A collection of student demonstrations of their work in the Computer Science program
at Phillips Academy Andover. In each course, students focus on two of the fifteen
Computer Science Skills to shape their work throughout the course, and they document
that growth here.
      </p>
      <p class="welcome_text">
        Use the search functionality to explore the collection. Browse by skills, student, or course.
      </p>
    </div>

  <button id="search_button">
    <h1 class="search_text"> Search Exhibitions</h1>
  </button>
    
  </div>
</div>

  <div class="search_pop_up">
    <div class="search_section">
      <div class="search_bar_container">
        <div class="search_bar">
          <input type="text" id="search_bar" placeholder="Hashtag Search ... " onkeyup="search()">
        </div>
      </div>
    </div>
    <div class="tag_section">

      <!-- DROP DOWN MENUS -->
      <div class="tag_type_list">
        <button class="tag_type" id="skill_button">
          Skills
        </button>
        <button class="tag_type" id="course_button">
          Courses
        </button>
        <button class="tag_type" id="level_button">
          Level
        </button>
        <button class="tag_type" id="year_button">
          Years
        </button>
      </div>

      <!-- YEARS -->
      <div class="tag_pop_up" id="year_pop_up">
      </div>
      
      <!-- SKILLS -->
      <div class="tag_pop_up" id="skill_pop_up">
        <% if (skills.length > 0) {
          skills.forEach(function(skill) {
            %>
              <button 
                class="tag <%= skill.throughline.toString().toLowerCase().replaceAll(' ', '_')%> skill"
                data-identifier="<%= skill.skill_id %>" 
                >
                <%-skill.skill_name%>
                </button>
            <%
          })
        }
        %>
      </div>
      
      <!-- COURSES -->
      <div class="tag_pop_up" id="course_pop_up">
        <% if (courses.length > 0) {
          courses.forEach(function(course) {
            %>
              <button class="tag course" id="<%= course.course_number.toString().toLowerCase()%>"
                data-identifier="<%= course.course_id %>"
                >
                <%-course.course_number%>: <%-course.course_name%>
                </button>
            <%
          })
        }
        %>
      </div>
      
      <!-- LEVELS -->
      <div class="tag_pop_up" id="level_pop_up">
        <button class="tag level" id="introductory">Introductory</button>
        <button class="tag level" id="intermediate">Intermediate</button>
        <button class="tag level" id="advanced">Advanced</button>
        <button class="tag level" id="independent_research">Independent Research</button>
      </div>
      
      <!-- ALL TAGS -->
      <div class="tag_pop_up" id="all_tags_pop_up">

        <!-- SKILLS -->
        <% if (skills.length > 0) {
          skills.forEach(function(skill) {
            %>
              <button 
                class="tag <%= skill.throughline.toString().toLowerCase().replaceAll(' ', '_')%> skill"
                data-identifier="<%= skill.skill_id %>"
                >
                <%-skill.skill_name%>
                </button>
            <%
          })
        }
        %>
      
      <!-- COURSES -->
        <% if (courses.length > 0) {
          courses.forEach(function(course) {
            %>
              <button class="tag course" id="<%= course.course_number.toString().toLowerCase()%>"
                data-identifier="<%= course.course_id %>"
                >
                <%-course.course_number%>: <%-course.course_name%>
                </button>
            <%
          })
        }
        %>

        <!-- STUDENTS -->
        <% if (students.length > 0) {
          students.forEach(function(student) {
            %>
              <button class="tag student"
                data-identifier="<%= student.user_id %>"
                >
                <%-student.first_name%> <%-student.last_name%>
                </button>
            <%
          })
        }
        %>

      <!-- TEACHERS -->
        <% if (teachers.length > 0) {
          teachers.forEach(function(teacher) {
            %>
              <button class="tag teacher"
                data-identifier="<%= teacher.admin_id %>"
                >
                <%-teacher.name%>
                </button>
            <%
          })
        }
        %>

      </div>

      <div class="outer_tag_box">
        <div class="tag_box">
        </div>
        <button class="submit_button" id="submit">Submit</button> 
      </div>

    </div>
  </div>
        
<!--   video section -->
<div class="highlights">
  <h1 class = "highlights_text">Recent Exhibition of Learning</h1>
    <div class="video_highlights">
      <% if (exhibitions.length > 0) {
        exhibitions.forEach(function(exhibition) {
          %>
          <div class="video">
          <div class="video_thumbnail"><%-exhibition.video_html_code%>
          </div>
          <div class="video_tags">
            <div class="course_info">
              <%=exhibition.course_number%>: <%=exhibition.course_name%>
            </div>
            <%
              exhibition.skills.forEach(function(skill) {
                %>
                <div class="<%= skill.throughline.toString().toLowerCase().replaceAll(' ', '_')%>_video">
                  <%=skill%>
                </div>
                <%
              })
            %>
          </div>
          <div class="video_text">
            <div class="student_name"><%= exhibition.first_name %> <%= exhibition.last_name %></div>
            <div class="upload_date">
              <% if (exhibition.term == 1) {
                %>
                Fall Term, 
                <%
              } else if (exhibition.term == 2) {
                %>
                Winter Term, 
                <%
              } else if (exhibition.term == 3) {
                %>
                Spring Term, 
                <%
              }%>
              <%= exhibition.academic_year%> 
            </div>
          </div>
        </div>
        <%
      })
    }
    %>
  </div>
</div>

  </body>
    
  <%- include('foot') %>
  
  
</html>
